### Exploratory Data Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/source/output.csv')
df.head()

,match_id,match_name,team_id,team_name,is_home,player_id,player_name,goals_scored,minutes_played
0,1719,We Like Puppies vs Nagoya Grampus Eight,17,We Like Puppies,True,36,John Cruz,1,46
1,412,Benchwarmers vs Killer Giants,12,Killer Giants,False,31,Philip Webster,1,49
2,1618,Fat Married People vs Aliens,18,Aliens,False,97,Alison Clay,2,52
3,24,Formerly In Shape Stars vs Benchwarmers,2,Formerly In Shape Stars,True,41,Julie Villa,1,72
4,16,"Look Ma, No Hands vs Miscellaneous",1,"Look Ma, No Hands",True,100,Chad Rivera,1,79

In [5]:
df.describe()

          match_id      team_id    player_id  goals_scored  minutes_played
count  4180.000000  4180.000000  4180.000000   4180.000000     4180.000000
mean    657.157895    10.500000   109.500000      0.563876       67.630622
std     511.040045     5.766971    63.515472      0.837038       13.200804
min      12.000000     1.000000     0.000000      0.000000       45.000000
25%     210.000000     5.750000    54.750000      0.000000       56.000000
50%     613.500000    10.500000   109.500000      0.000000       68.000000
75%    1018.000000    15.250000   164.250000      1.000000       79.000000
max    1920.000000    20.000000   219.000000      3.000000       90.000000

In [9]:
print('Total of unique matches is : ',len(df['match_id'].unique()))

Total of unique matches is :  190

In [10]:
print('Total of unique teams is: ', len(df['team_id'].unique()))

Total of unique teams is:  20

In [11]:
print('Total of unique players is: ', len(df['player_id'].unique()))

Total of unique players is:  220

### Comparing with computed values

In [15]:
df_teams = pd.read_csv('data/transformed/trf_teams.csv')
len(df_teams['team_id'].unique())

20

In [16]:
df_matches = pd.read_csv('data/transformed/trf_matches.csv')
len(df_matches['match_id'].unique())

190

In [17]:
df_players = pd.read_csv('data/transformed/trf_players.csv')
len(df_players['player_id'].unique())

220

In [17]:
home_df = df.query('match_id == 212')

In [18]:
home_df.query('is_home == True')

,match_id,match_name,team_id,team_name,is_home,player_id,player_name,goals_scored,minutes_played
203,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,81,Alicia Rich DDS,0,76
423,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,181,Joseph Maldonado,0,90
1280,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,101,Caitlyn Wright,0,71
1339,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,161,Harry Sanders,0,85
1735,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,41,Julie Villa,1,88
1838,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,121,Kayla Cooper,0,80
2429,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,201,Tina Bell,0,62
2494,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,141,Andrew Bailey,0,69
3593,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,21,Mariah Mccullough,1,65
3626,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,61,Lauren Anderson,0,81
3874,212,Formerly In Shape Stars vs Killer Giants,2,Formerly In Shape Stars,True,1,Dr. Haley Murphy,0,61